[Desktop Entry]
Version=1.0
Name=Gemini
Comment=Aplikacja internetowa
Exec=brave-browser --app="https://gemini.google.com/app" --class=WebApp-Gemini6292 --name=WebApp-Gemini6292 --user-data-dir=/home/uzytkownik/.local/share/ice/profiles/Gemini6292
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/uzytkownik/.local/share/ice/icons/Gemini.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Gemini6292
StartupNotify=true
X-WebApp-Browser=Brave Browser
X-WebApp-URL=https://gemini.google.com/app
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
